<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mes offres</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/places/offers/new">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
      <ion-list>
        <ion-item *ngFor="let offer of offers" [routerLink]="['/', 'places', 'offers', offer.id]">
          <ion-thumbnail slot="start">
            <ion-img [src]="offer.imageUrl">

            </ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>{{ offer.title }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>