<ion-app>
  <ion-menu menuId="m1" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          DbcBnb
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="nones" routerLink="/places/discover">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Découvrir nos appartements</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="nones" routerLink="/bookings">
            <ion-icon name="checkbox-outline" slot="start"></ion-icon>
            <ion-label>Vos réservations</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="nones" (click)="logOut()">
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Se déconnecter</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
