<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['places', 'offers', place.id]"></ion-back-button>
    </ion-buttons>
    <ion-title>Modifier l'offre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-title>{{ place.title }}</ion-title>  
</ion-content>
