<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>Nouvelle Offre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

</ion-content>
