<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ place.title }}</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-img [src]="place.imageUrl" height="20%"></ion-img> -->
<ion-content class="ion-padding">
  <ion-title>{{ place.title }}</ion-title>  
  <ion-button class="ion-margin" [routerLink]="['/', 'places', 'offers', 'edit', place.id]"  color="primary">Modifier</ion-button>
</ion-content>
