<ion-header>
  <ion-toolbar>
    <ion-title>Réserver !</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-img [src]="selectedPlace.imageUrl"></ion-img>
  <h1>Réserver ce magnifique endroit</h1>
  <p>{{ selectedPlace.description }} </p>
  <ion-button color="primary" (click)="onBookPlace()">Réserver</ion-button>
</ion-content>